/* Tablet */
@media screen and (min-width: 641px) and (max-width: 1023px) {
  .shop {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media screen and (max-width: 640px) { 
  header ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .shop {
    grid-template-columns: 1fr;
  }
}

/* Tablet and Mobile */
@media screen and (max-width: 1023px) {
  #about .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}